## Data Manipulation (with SQLite syntax)
## Data Visualization (with MySQL)

In [1]:
from gen_fake_data import get_fake_data
import process_data
import pandas as pd
from pandasql import sqldf

Generation of the data

In [2]:
n_samples = 4
data = {iter: get_fake_data() for iter in range(n_samples)}

Show data without any transformation

In [3]:
# data

Store data in a DataFrame

In [4]:
df_all = pd.DataFrame(data, index=['customer', 'order'])
df_all

,0,1,2,3
customer,"{'name': 'Rosie Chamberlain-Ashton', 'address'...","{'name': 'Ann Blake', 'address': '7 Burgess br...","{'name': 'Alexandra O'Donnell-Moss', 'address'...","{'name': 'Dr Colin Sullivan', 'address': '9 Co..."
order,"{'order_date': '2023-10-01 20:06:42', 'quantit...","{'order_date': '2023-10-01 20:06:42', 'quantit...","{'order_date': '2023-10-01 20:06:43', 'quantit...","{'order_date': '2023-10-01 20:06:43', 'quantit..."

In [5]:
customer = data[0][0]
order = data[0][1]
df_customer = pd.DataFrame(customer, index=['customer'])
df_customer

,name,address,email,phone_number,country
customer,Rosie Chamberlain-Ashton,Flat 61\nShannon skyway\nVanessahaven\nCT85 4HY,anna77@example.org,0114 496 0430,Poland

In [6]:
df_order = pd.DataFrame(order, index=['order'])
df_order

                order_date  quantity product
order  2023-10-01 20:06:42         0  jacket

### SQLite Syntax
Website: https://www.sqlite.org/lang.html

In [7]:
q = """
SELECT *
FROM df_customer
WHERE country = 'Palestinian Territory'
"""

In [8]:
test = sqldf(q)
test

Empty DataFrame
Columns: [name, address, email, phone_number, country]
Index: []