# Notebook to visualize the data

In [27]:
# Import the librairies
from pandasql import sqldf
import pandas as pd
import matplotlib.pyplot as plt

from gen_fake_data import get_fake_data, get_fake_product
import process_data

1) Connection to the database

In [ ]:
mydb = process_data.connect_to_db()
mycursor = mydb.cursor()

2. Show the tables

In [ ]:
process_data.show_tables(mycursor)

3. Get the tables

In [ ]:
df_products = pd.read_sql("SELECT * FROM products", mydb)
df_customers = pd.read_sql("SELECT * FROM customers", mydb)
df_orders = pd.read_sql("SELECT * FROM orders", mydb)

4. Perform analysis on products

In [ ]:
plt.figure()
plt.bar(df_products['name'], df_products['price'])
plt.show()

In [2]:
n_samples = 4
data = {iter: get_fake_data() for iter in range(n_samples)}

Show data without any transformation

In [25]:
data[0][0]["address"].replace("\n", ", ")

'970 Birch meadow, Lake Maureen, E6S 1GY'

Store data in a DataFrame

In [4]:
df_all = pd.DataFrame(data, index=['customer', 'order'])
df_all

,0,1,2,3
customer,"{'name': 'Suzanne Wood-Hudson', 'address': '97...","{'name': 'Anthony Russell', 'address': '02 Der...","{'name': 'Dr Vincent Singh', 'address': 'Flat ...","{'name': 'Alison Smith', 'address': 'Flat 51j ..."
order,"{'order_date': '2023-10-02 16:08:27', 'quantit...","{'order_date': '2023-10-02 16:08:27', 'quantit...","{'order_date': '2023-10-02 16:08:28', 'quantit...","{'order_date': '2023-10-02 16:08:28', 'quantit..."

In [5]:
customer = data[0][0]
order = data[0][1]
df_customer = pd.DataFrame(customer, index=['customer'])
df_customer

,name,address,email,phone_number,country
customer,Suzanne Wood-Hudson,970 Birch meadow\nLake Maureen\nE6S 1GY,louisekelly@example.org,+44118 496 0025,Albania

In [6]:
df_order = pd.DataFrame(order, index=['order'])
df_order

                order_date  quantity product              name
order  2023-10-02 16:08:27         4    sofa  Miss June Harris

In [7]:
fake_products = [get_fake_product() for _ in range(3)]
fake_products

[{'name': 'table',
  'price': 0.7,
  'description': 'Veritatis in fugiat sint sunt consequatur iusto.\nFugit sint quis voluptates ipsum quo voluptas. Id quasi laboriosam beatae nostrum dolore laborum.'},
 {'name': 'bed',
  'price': 0.1,
  'description': 'In nostrum accusantium vitae quidem optio ad a. Doloremque architecto numquam vitae aperiam dignissimos.'},
 {'name': 'chair',
  'price': 0.37,
  'description': 'Necessitatibus accusamus sequi quam. Reprehenderit aut recusandae nulla necessitatibus blanditiis.\nEveniet quibusdam aperiam pariatur quia eaque iure.'}]

In [9]:
df_products = pd.DataFrame(fake_products, index=[f"product_{i+1}" for i in range(len(fake_products))])
df_products

            name  price                                        description
product_1  table   0.70  Veritatis in fugiat sint sunt consequatur iust...
product_2    bed   0.10  In nostrum accusantium vitae quidem optio ad a...
product_3  chair   0.37  Necessitatibus accusamus sequi quam. Reprehend...

### SQLite Syntax
Website: https://www.sqlite.org/lang.html

In [10]:
q = """
SELECT *
FROM df_customer
WHERE country = 'Palestinian Territory'
"""

In [11]:
test = sqldf(q)
test

Empty DataFrame
Columns: [name, address, email, phone_number, country]
Index: []